@model IEnumerable<Locatic.Models.Customer>

<h1>Customers</h1>

<a asp-action="Create" class="btn btn-primary">Add Customer</a>

<table class="table mt-3">
    <thead>
        <tr>
            <th>Last Name</th>
            <th>First Name</th>
            <th>Email</th>
            <th>Phone</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var customer in Model)
        {
            <tr>
                <td>@customer.LastName</td>
                <td>@customer.FirstName</td>
                <td>@customer.Email</td>
                <td>@customer.Phone</td>
            </tr>
        }
    </tbody>
</table>